* {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* ////////////////// Nav Bar ////////////////////////*/

.nav-blue {
  background-color: #0c73eb !important;
}
.nav-height {
  height: 10vh;
}

.width-Searchbar {
  width: 43%;
}
.search-Bar-shadow {
  box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.234);
}
.margin-icons {
  margin-left: 28.7vw;
  margin-top: 0.6rem;
  color: #0c73eb;
}
.Login-Button {
  padding: 0.3rem 2.4rem;
}
.Explore_icon-navbar {
  height: 0.7rem;
  width: 0.6rem;
  margin-left: 3px;
  margin-bottom: 3px;
}
.Explore_Plus {
  color: #f8e831;
}
a {
  text-decoration: none;
  cursor: pointer;
}
.hover-anchor-underline {
  font-size: 0.7vw;
  margin-left: 0.8rem;
}
.hover-anchor-underline:hover {
  text-decoration: underline;
}
.filpkart-icon {
  height: 1.5rem;
  width: 5.3rem;
  margin-right: 0.5rem;
}

.list-group li:hover {
  background: rgba(228, 227, 227, 0.327);
  cursor: pointer;
}

/* js */

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #f9f9f9;
  min-width: 24vw;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content li:hover {
  background-color: #f1f1f1;
}
.dropdown:hover .dropdown-content {
  display: block;
}
/* 
--------------------------------
BelowNavbar 
-------------------------------- */
.belowNavP-text {
  font-size: 0.8rem;
}

.below-navbar-img img {
  height: 13vh;
  width: 6vw;
  cursor: pointer;
}
