* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f1f3f6;
}

.navbar-fixed {
  position: fixed;
  top: 0%;
  z-index: 10000;
}

.font-size-12 {
  font-size: 12px;
}

/* ////////////////// Nav Bar ////////////////////////*/

.nav-blue {
  background-color: #0c73eb !important;
}

.dropdown:hover .iconDown {
  transform: rotateX(180deg);
}
.icon-main:hover .iconDown {
  transform: rotateX(180deg);
}
.margin-nav {
  margin-left: 11rem !important;
}

.nav-height {
  height: 10vh;
  position: sticky !important;
  width: 100% !important;
}

.width-Searchbar {
  width: 30%;
}

.search-Bar-shadow {
  box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.234);
}

.margin-icons {
  margin-left: 26vw;
  margin-top: 0.6rem;
  color: #0c73eb;
}

.Login-Button {
  padding: 0.3rem 2.4rem;
}

.Explore_icon-navbar {
  height: 0.7rem;
  width: 0.6rem;
  margin-left: 3px;
  margin-bottom: 3px;
}

.Explore_Plus {
  color: #f8e831;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.hover-anchor-underline {
  font-size: 0.7vw;
  margin-left: 0.8rem;
}

.hover-anchor-underline:hover {
  text-decoration: underline;
}
.login-Button:hover {
  box-shadow: 0px 0px 10px orangered !important;
}
.login-Button:active {
  transform: scale(0.99);
}

.signUp-underline:hover {
  text-decoration: underline;
}

.filpkart-icon {
  height: 1.5rem;
  width: 5.3rem;
  margin-right: 0.5rem;
}

.list-group li:hover {
  background: rgba(228, 227, 227, 0.327);
  cursor: pointer;
}
.badge-width {
  font-size: 7px;
}

/* js */

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #f9f9f9;
  min-width: 24vw;
  z-index: 1 !important;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.z-index {
  z-index: 1;
}

.z-index-popup {
  z-index: 100000;
}

.form-control {
  box-shadow: none !important;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content li:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* 
--------------------------------
BelowNavbar 
-------------------------------- */
.belowNavP-text {
  font-size: 0.7rem;
}

.below-navbar-img img {
  height: 64px;
  width: 64px;
  cursor: pointer;
  text-align: center;
}
.custom-product-image {
  height: 50vh !important;
}

/* 
--------------------------------
FOOTER
-------------------------------- */
footer {
  font-size: 12px;
  line-height: 1.5rem;

  /* height: 50vh; */
}

.footer-text {
  /* font-size: 12px; */
  font-weight: 400;
  margin-bottom: 9px;
}

.footer-mail {
  border-left: 1px solid #454d5e;
  padding: 0 25px;
  font-size: 12px !important;
}

.footer-last-font {
  font-size: 1vw;
}

/* -------------------------------------------------------

CartFooter

------------------------------------------------------- */
.cart-footer {
  margin: 0, auto;
  padding: 25px;
  width: 90%;
}

.cart-footer a {
  padding: 0 5px;
  border-right: 1px solid #878787;
}

.copyrightCart {
  margin-left: 25px;
}

.form-control {
  border-radius: 0;
}

.terms-condition {
  font-size: 0.8rem;
}

.form-login {
  background-color: #fb641b;
  color: #f1f1f1;
}

.form-login:hover {
  color: white !important;
}

/*//////////////// Banner ////////////////////*/

.banner-img {
  width: 110vw;
  height: 40vh;
  cursor: pointer;
}
.banner-img-1 {
  width: 120vw;
  height: 18vh;
}
.create-account {
  margin-top: 5rem;
  cursor: pointer;
}
.AdvGridImgWidth {
  width: 31vw;
}
.create-account:active {
  color: rgb(115, 166, 255) !important;
}
.banner-below {
  width: 100%;
}
.Existing-User {
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.341);
  font-weight: 500;
}

.view-btn-width {
  width: 10vw;
}

.best-of-font {
  font-size: 1.3rem;
}

.productCarousel-img {
  object-fit: contain;
  width: 11vw;
  height: 22vh;
  cursor: pointer !important;
}
.electronicsCarousel-img {
  width: 160px;
  height: 140px;
  cursor: pointer !important;
}
.adv-img-width {
  width: 15vw;
  height: 59vh;
}
.adv-img-box {
  height: 61vh;
}

/* /////////// */

.product-list img {
  height: 200px;
  width: 200px;
  object-fit: contain;
}

/* 

-------------------------------------------------------

Media Queries for small screen

------------------------------------------------------- */

@media only screen and (max-width: 501px) {
  .navbar-brand {
    margin-left: 1rem;
  }

  .filpkart-icon {
    width: 12vw;
    height: 3vh;
  }

  .hover-anchor-underline {
    font-size: 1.3vw;
    margin-left: 1.3rem;
  }

  .width-Searchbar {
    width: 45%;
  }

  .search-Bar-shadow {
    margin: 0 !important;
    padding: 0.3rem !important;
    /* width: 0vw !important; */
  }

  .navbar-toggler {
    margin-left: 3rem;
    display: flex;
    flex-direction: column;
    border: 0;
  }

  .margin-nav {
    margin-left: 0 !important;
  }

  .margin-icons {
    margin-left: 40vw;
    margin-top: 0.7rem;
    font-size: 1rem !important;
  }
  .test-fixed {
    position: static !important;
  }
  .dropdown-content {
    right: 0 !important;
    box-shadow: #454d5e !important;

    position: absolute;
  }

  .below-navbar-img {
    height: 10vh !important;
  }

  .below-navbar-img img {
    height: 9vh;
    width: 7vw;
    margin-left: 0 !important;
    cursor: pointer;
    text-align: center;
  }

  .belowNavP-text {
    /* margin-left: 20px; */
    font-size: 0.5rem;
  }

  .footer-last-font {
    font-size: 10px;
  }

  .footer-img {
    display: none;
  }

  .footer-mail {
    border-left: none;
  }

  .after-search-Bar-anchor {
    background-color: #0c73eb;
  }
  .banner-img {
    width: 100vw;
    height: 16vh;
  }
  .banner-below {
    width: 50%;
  }
  .banner-img-1 {
    width: 110vw;
    height: 18vh;
  }
  .view-btn-width {
    width: 25vw !important;
  }
  .productCarousel-img {
    width: 24vw;
    height: 23vh;
    cursor: pointer !important;
  }
  .product-text {
    font-size: 12px !important;
  }
  .best-of-font {
    font-size: 1rem;
  }
  .clock {
    margin-left: 2rem;
  }
  .custom-product-image {
    height: 60vh;
    width: 100%;
    object-fit: contain;
  }
  .adv-img-box {
    width: 24vw !important;
    height: 57vh;
    display: none;
  }
  .adv-img-width {
    width: 100% !important;
    height: 50vh;
  }
  .login-img {
    width: 25vw;
    height: 20vh;
  }
  .Login-email-logo {
    margin-top: 2rem !important;
  }
  .belowNavProduct {
    height: 2rem !important;
  }
  .font-product-btn {
    font-size: 0.7rem;
  }
  .below-navbar {
    display: none;
  }
  .custom-product-image {
    height: 47vh;
    width: 61vw;
  }
  .custom-suggestion {
    left: 6.5rem !important;
    width: 49.6vw !important;
  }
  .adv-img-box {
    display: none;
    visibility: 0;
  }
  .below-navbar {
    display: none;
  }

  .custom-product-image {
    height: 60vh;
    width: 67vw;
  }
}

/* Login popup */
.Login-email-logo {
  margin-top: 25vh;
}

.test-fixed {
  left: 5%;
  top: 10%;
  position: sticky;
}

.custom-suggestion {
  left: 16.4rem;
  width: 31.6%;
}

.custom-suggestion li {
  cursor: pointer;
}
.custom-suggestion li:hover {
  background: rgb(247, 244, 244);
}
.hover-blue div {
  cursor: pointer;
  font-weight: 500 !important;
}

.hover-blue div:hover {
  color: #0c73eb;
}

.font-product-btn {
  font-size: 0.9rem;
}

.cart-btn {
  background-color: #ff9f00;
  color: white;
}

.bolt-btn {
  background-color: #fb641b;
}

.custom-product-image {
  height: 60vh;
  width: 95%;
}

.flip-assured-icon {
  height: 1.2rem;
}

.marginHR {
  margin-top: 32px !important;
}

/* --------------------------------- */

/* cart */

/* --------------------------------- */

.cart-header {
  height: 58px;
  box-shadow: rgb(0 0 0 / 20%) 0px 1px 2px 0px;
  background-color: white;
}

.cart-border p {
  border-bottom: 1px solid #0c73eb;
  margin-top: 0.2rem;
}

.product-img {
  height: 115px;
}

.assured {
  height: 15px;
}

.cart-product {
  background: white;
  /* margin-top: 50px; */
  border-bottom: 1px solid rgba(128, 128, 128, 0.607);
  margin-left: 2px;
}
.empty-cart-sec {
  height: 75vh;
}
.empty-cart {
  margin-top: 2rem;
  background-color: white;
}
.empty-cart-image {
  height: 13rem;
  width: 17rem;
}

.place-order {
  background-color: #fb641b;
  margin: 0 10px;
}

.order-btn {
  height: 10vh;
  border-top: 1px solid #f0f0f0;
  box-shadow: 0 -2px 10px 0 rgba(0, 0, 0, 0.293);
  margin-top: 5vh;
  width: 53.5rem;
}
.order-btn button {
  padding: 15px 30px;
}

.price-detail {
  background-color: white;
  top: 12%;
  right: 5rem;
  height: 100%;
}
.price-head {
  border-bottom: 1px solid #cbc9c9;
}

.total-amount {
  border-bottom: 1px dotted #cbc9c9;
  border-top: 1px dotted #cbc9c9;
}
.remove-item {
  cursor: pointer;
}
.remove-item:hover {
  color: #0c73eb !important;
}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}
.fs-7 {
  font-size: 0.9rem;
}

/* ------------------------------------------------------------------

MOBILE SCREEN MEDIA BREAKPOINTS

------------------------------------------------------------------*/
@media only screen and (max-width: 450px) {
  .navbar-brand {
    margin-left: 1rem;
  }

  .filpkart-icon {
    width: 12vw;
    height: auto;
  }

  .hover-anchor-underline {
    font-size: 1.3vw;
    margin-left: 1.3rem;
  }

  .width-Searchbar {
    width: 45%;
  }

  .search-Bar-shadow {
    margin: 0 !important;
    padding: 0.3rem !important;
    /* width: 0vw !important; */
  }

  .navbar-toggler {
    margin-left: 3rem;
    display: flex;
    flex-direction: column;
    border: 0;
  }

  .margin-nav {
    margin-left: 0 !important;
  }

  .margin-icons {
    margin-left: 40vw;
    margin-top: 0.7rem;
    font-size: 1rem !important;
  }
  .test-fixed {
    position: static !important;
  }
  .dropdown-content {
    right: 0 !important;
    box-shadow: #454d5e !important;

    position: absolute;
  }

  .below-navbar-img {
    height: 6vh !important;
  }

  .below-navbar-img img {
    height: 9vh;
    width: 7vw;
    margin-left: 0 !important;
    cursor: pointer;
    text-align: center;
  }

  .belowNavP-text {
    /* margin-left: 20px; */
    font-size: 0.5rem;
  }

  .footer-last-font {
    font-size: 10px;
  }

  .footer-img {
    display: none;
  }

  .footer-mail {
    border-left: none;
  }

  .after-search-Bar-anchor {
    background-color: #0c73eb;
  }
  .banner-img {
    width: 90vw;
    height: 10vh;
  }
  .banner-below {
    width: 50%;
  }
  .banner-img-1 {
    width: 110vw;
    height: 18vh;
  }
  .view-btn-width {
    width: 25vw !important;
  }
  .productCarousel-img {
    width: 25vw;
    height: 12vh;
    cursor: pointer !important;
  }
  .product-text {
    font-size: 12px !important;
  }
  .best-of-font {
    font-size: 1rem;
  }
  .clock {
    margin-left: 2rem;
  }
  .custom-product-image {
    height: 60vh;
    width: 100%;
  }
  .adv-img-box {
    width: 24vw !important;
    height: 57vh;
    display: none;
  }
  .adv-img-width {
    width: 100% !important;
    height: 50vh;
  }
  .login-img {
    width: 25vw;
    height: 20vh;
  }
  .Login-email-logo {
    margin-top: 2rem !important;
  }
  .belowNavProduct {
    height: 2rem !important;
  }
  .font-product-btn {
    font-size: 0.7rem;
  }
  .below-navbar {
    display: none;
  }
  .custom-product-image {
    width: 61vw;
    height: 35vh !important;
  }
  .custom-suggestion {
    left: 5rem !important;
    width: 53vw !important;
  }
  .electronicsCarousel-img {
    width: 30vw !important;
    height: 15vh;
  }
  .marWarranty {
    margin-top: 37px !important;
  }
  .viewAllProducts {
    width: 45vw !important;
  }
  .viewAllProducts img {
    width: 100px !important;
    height: 100px !important;
  }
  .order-btn {
    position: sticky !important;
    top: 2.1rem;
    width: 25rem;
  }
}
/* ------------------------------------------------------------------

TABLET SCREEN MEDIA BREAKPOINTS

------------------------------------------------------------------*/

@media only screen and (min-width: 500px) and (max-width: 700px) {
  .navbar-brand {
    margin-left: 1rem !important;
  }

  .filpkart-icon {
    width: 12vw;
    height: auto;
  }

  .hover-anchor-underline {
    font-size: 1.3vw;
    margin-left: 1.3rem;
  }

  .width-Searchbar {
    width: 45%;
  }

  .search-Bar-shadow {
    margin: 0 !important;
    padding: 0.3rem !important;
    /* width: 0vw !important; */
  }

  .navbar-toggler {
    margin-left: 3rem;
    display: flex;
    flex-direction: column;
    border: 0;
  }

  .margin-nav {
    margin-left: 0 !important;
  }

  .margin-icons {
    margin-left: 40vw;
    margin-top: 0.7rem;
    font-size: 1rem !important;
  }
  .test-fixed {
    position: static !important;
  }
  .dropdown-content {
    right: 0 !important;
    box-shadow: #454d5e !important;

    position: absolute;
  }

  .below-navbar-img {
    height: 10vh !important;
  }

  .below-navbar-img img {
    height: 9vh;
    width: 7vw;
    margin-left: 0 !important;
    cursor: pointer;
    text-align: center;
  }

  .belowNavP-text {
    /* margin-left: 20px; */
    font-size: 0.5rem;
  }

  .footer-last-font {
    font-size: 10px;
  }

  .footer-img {
    display: none;
  }

  .footer-mail {
    border-left: none;
  }

  .after-search-Bar-anchor {
    background-color: #0c73eb;
  }
  .banner-img {
    width: 90vw;
    height: 25vh;
  }
  .banner-below {
    width: 50%;
  }
  .banner-img-1 {
    width: 110vw;
    height: 18vh;
  }
  .view-btn-width {
    width: 25vw !important;
  }
  .productCarousel-img {
    width: 23vw;
    height: 20vh;
    cursor: pointer !important;
  }
  .product-text {
    font-size: 12px !important;
  }
  .best-of-font {
    font-size: 1rem;
  }
  .clock {
    margin-left: 2rem;
  }
  .custom-product-image {
    height: 60vh;
    width: 100%;
  }
  .adv-img-box {
    width: 24vw !important;
    height: 57vh;
    display: none;
  }
  .adv-img-width {
    width: 100% !important;
    height: 50vh;
  }
  .login-img {
    width: 25vw;
    height: 20vh;
  }
  .Login-email-logo {
    margin-top: 2rem !important;
  }
  .belowNavProduct {
    height: 2rem !important;
  }
  .font-product-btn {
    font-size: 0.7rem;
  }
  .below-navbar {
    display: none;
  }
  .custom-product-image {
    width: 45vw;
    height: 40vh !important;
  }

  .custom-suggestion {
    left: 9.9rem !important;
    width: 48.5vw !important;
  }
  .electronicsCarousel-img {
    width: 26vw !important;
    height: 25vh;
  }
  .marWarranty {
    margin-top: 37px !important;
  }
  .viewAllProducts {
    width: 45vw !important;
  }
  .viewAllProducts img {
    width: 100px !important;
    height: 100px !important;
  }
  .order-btn {
    position: sticky !important;
    top: 2.1rem;
    width: 100% !important;
  }
}

@media only screen and (min-width: 701px) and (max-width: 990px) {
  .navbar-brand {
    margin-left: 1rem !important;
  }
  .order-btn {
    position: sticky !important;
    top: 2.1rem;
    width: 100% !important;
  }
  .cart-btn {
    /* padding: 2rem !important; */
  }
  .filpkart-icon {
    width: 10vw;
    height: auto;
  }

  .hover-anchor-underline {
    font-size: 1.3vw;
    margin-left: 1.3rem;
  }

  .width-Searchbar {
    width: 45%;
  }
  .banner-below {
    width: 100% !important;
  }
  .banner-img-1 {
    width: 90vw !important;
    height: 18vh;
  }
  .search-Bar-shadow {
    margin: 0 !important;
    padding: 0.3rem !important;
    /* width: 0vw !important; */
  }

  .navbar-toggler {
    margin-left: 3rem;
    display: flex;
    flex-direction: column;
    border: 0;
  }

  .margin-nav {
    margin-left: 0 !important;
  }

  .margin-icons {
    margin-left: 40vw;
    margin-top: 0.5rem;
    font-size: 1.3rem !important;
  }
  .test-fixed {
    position: static !important;
  }
  .dropdown-content {
    right: 0 !important;
    box-shadow: #454d5e !important;

    position: absolute;
  }

  .below-navbar-img {
    height: 12vh !important;
  }

  .below-navbar-img img {
    height: 9vh;
    width: 7vw;
    margin-left: 0 !important;
    cursor: pointer;
    text-align: center;
  }

  .belowNavP-text {
    /* margin-left: 20px; */
    font-size: 0.5rem;
  }

  .footer-last-font {
    font-size: 10px;
  }

  .footer-img {
    display: none;
  }

  .footer-mail {
    border-left: none;
  }

  .after-search-Bar-anchor {
    background-color: #0c73eb;
  }
  .banner-img {
    width: 100vw;
    height: 25vh;
  }
  .banner-below {
    width: 50%;
  }
  .banner-img-1 {
    width: 110vw;
    height: 18vh;
  }
  .view-btn-width {
    width: 15vw !important;
  }
  .productCarousel-img {
    width: 20vw;
    height: 25vh;
    cursor: pointer !important;
  }
  .product-text {
    font-size: 12px !important;
  }
  .best-of-font {
    font-size: 1rem;
  }
  .clock {
    margin-left: 2rem;
  }
  .custom-product-image {
    height: 60vh;
    width: 35vw;
    object-fit: contain;
  }
  .adv-img-box {
    width: 24vw !important;
    height: 61vh;
    display: none;
  }
  .adv-img-width {
    width: 100% !important;
    height: 58vh;
  }
  .login-img {
    width: 25vw;
    height: 20vh;
  }
  .Login-email-logo {
    margin-top: 2rem !important;
  }
  .belowNavProduct {
    height: 2rem !important;
  }
  .font-product-btn {
    font-size: 0.7rem;
  }
  .below-navbar {
    display: none;
  }

  .custom-suggestion {
    left: 14.3rem !important;
    width: 47.6vw !important;
  }
  .electronicsCarousel-img {
    width: 26vw !important;
    height: 25vh;
  }
  .marWarranty {
    margin-top: 37px !important;
  }
  .viewAllProducts {
    width: 45vw !important;
  }
  .viewAllProducts img {
    width: 100px !important;
    height: 100px !important;
  }
}
@media only screen and (min-width: 991px) and (max-width: 1200px) {
  .navbar-brand {
    margin-left: 1rem !important;
  }
  .order-btn {
    position: sticky !important;
    top: 2.1rem;
    width: 100% !important;
  }
  .price-detail {
    right: 1rem;
  }
  .filpkart-icon {
    width: 8vw;
    margin-left: 0.5rem;
    height: auto;
  }
  .Login-Button {
    padding: 0.3rem 1.4rem !important;
    margin-left: 15px;
  }
  .nav-item a {
    font-size: 13px;
  }
  .hover-anchor-underline {
    font-size: 1.3vw;
    margin-left: 1.3rem;
  }

  .width-Searchbar {
    width: 45%;
  }
  .banner-below {
    width: 100% !important;
  }
  .banner-img-1 {
    width: 90vw !important;
    height: 18vh;
  }
  .search-Bar-shadow {
    margin: 0 !important;
    padding: 0.3rem !important;
    /* width: 0vw !important; */
  }

  .navbar-toggler {
    margin-left: 3rem;
    display: flex;
    flex-direction: column;
    border: 0;
  }

  .margin-nav {
    margin-left: 0 !important;
  }

  .margin-icons {
    margin-left: 40vw;
    margin-top: 0.5rem;
    font-size: 1.3rem !important;
  }
  .test-fixed {
    position: static !important;
  }
  .dropdown-content {
    right: 0 !important;
    box-shadow: #454d5e !important;

    position: absolute;
  }

  .below-navbar-img {
    height: 12vh !important;
  }

  .below-navbar-img img {
    height: 9vh;
    width: 7vw;
    margin-left: 0 !important;
    cursor: pointer;
    text-align: center;
  }

  .belowNavP-text {
    /* margin-left: 20px; */
    font-size: 0.5rem;
  }

  .footer-last-font {
    font-size: 10px;
  }

  .footer-img {
    display: none;
  }

  .footer-mail {
    border-left: none;
  }

  .after-search-Bar-anchor {
    background-color: #0c73eb;
  }
  .banner-img {
    width: 100vw;
    height: 25vh;
  }
  .banner-below {
    width: 50%;
  }
  .banner-img-1 {
    width: 110vw;
    height: 18vh;
  }
  .view-btn-width {
    width: 15vw !important;
  }

  .row {
    margin: 0;
  }
  .productCarousel-img {
    width: 15vw;
    height: 23vh;
    cursor: pointer !important;
  }
  .product-text {
    font-size: 12px !important;
  }

  .best-of-font {
    font-size: 1rem;
  }
  .clock {
    margin-left: 2rem;
  }
  .custom-product-image {
    height: 60vh;
    width: 100%;
  }
  .adv-img-box {
    width: 15vw !important;
    height: 59vh;
  }
  .adv-img-width {
    width: 100% !important;
    height: 56vh;
  }
  .login-img {
    width: 25vw;
    height: 20vh;
  }
  .Login-email-logo {
    margin-top: 2rem !important;
  }
  .belowNavProduct {
    height: 2rem !important;
  }
  .font-product-btn {
    font-size: 0.7rem;
  }
  .below-navbar {
    display: none;
  }
  .custom-product-image {
    width: 38vw;
    height: 50vh !important;
  }

  .custom-suggestion {
    left: 14.3rem !important;
    width: 47.6vw !important;
  }
  .electronicsCarousel-img {
    width: 26vw !important;
    height: 25vh;
  }
  .marWarranty {
    margin-top: 37px !important;
  }
  .viewAllProducts {
    width: 45vw !important;
  }
  .viewAllProducts img {
    width: 100px !important;
    height: 100px !important;
  }
}
@media only screen and (min-width: 1200px) and (max-width: 1309px) {
  .price-detail {
    right: 1.8rem;
  }
}
