* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.navbar-fixed {
  position: fixed;
  top: 0%;
  z-index: 10000;
}
.font-size-12 {
  font-size: 12px;
}

/* ////////////////// Nav Bar ////////////////////////*/

.nav-blue {
  background-color: #0c73eb !important;
}
.margin-nav {
  margin-left: 11rem !important;
}
.nav-height {
  height: 10vh;
  position: sticky !important;
  width: 100% !important;
}

.width-Searchbar {
  width: 30%;
}
.search-Bar-shadow {
  box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.234);
}
.margin-icons {
  margin-left: 26vw;
  margin-top: 0.6rem;
  color: #0c73eb;
}
.Login-Button {
  padding: 0.3rem 2.4rem;
}

.Explore_icon-navbar {
  height: 0.7rem;
  width: 0.6rem;
  margin-left: 3px;
  margin-bottom: 3px;
}
.Explore_Plus {
  color: #f8e831;
}
a {
  text-decoration: none;
  cursor: pointer;
}
.hover-anchor-underline {
  font-size: 0.7vw;
  margin-left: 0.8rem;
}
.hover-anchor-underline:hover {
  text-decoration: underline;
}
.signUp-underline:hover {
  text-decoration: underline;
}
.filpkart-icon {
  height: 1.5rem;
  width: 5.3rem;
  margin-right: 0.5rem;
}

.list-group li:hover {
  background: rgba(228, 227, 227, 0.327);
  cursor: pointer;
}

/* js */

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #f9f9f9;
  min-width: 24vw;
  z-index: 1 !important;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}
.z-index {
  z-index: 1;
}
.z-index-popup {
  z-index: 100000;
}
.form-control {
  box-shadow: none !important;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content li:hover {
  background-color: #f1f1f1;
}
.dropdown:hover .dropdown-content {
  display: block;
}
/* 
--------------------------------
BelowNavbar 
-------------------------------- */
.belowNavP-text {
  font-size: 0.7rem;
}

.below-navbar-img img {
  height: 13vh;
  width: 6vw;
  cursor: pointer;
  text-align: center;
}
/* 
--------------------------------
FOOTER
-------------------------------- */
footer {
  font-size: 12px;
  line-height: 1.5rem;

  /* height: 50vh; */
}
.footer-text {
  /* font-size: 12px; */
  font-weight: 400;
  margin-bottom: 9px;
}
.footer-mail {
  border-left: 1px solid #454d5e;
  padding: 0 25px;
  font-size: 12px !important;
}
.footer-last-font {
  font-size: 1vw;
}

/* -------------------------------------------------------

CartFooter

------------------------------------------------------- */
.cart-footer {
  margin: 0, auto;
  padding: 25px;
  width: 90%;
}
.cart-footer a {
  padding: 0 5px;
  border-right: 1px solid #878787;
}
.copyrightCart {
  margin-left: 25px;
}

.form-control {
  border-radius: 0;
}
.terms-condition {
  font-size: 0.8rem;
}
.form-login {
  background-color: #fb641b;
  color: #f1f1f1;
}
.form-login:hover {
  color: white !important;
}
/*//////////////// Banner ////////////////////*/

.banner-img {
  width: 100vw;
  height: 40vh;
}
.create-account {
  margin-top: 5rem;
  cursor: pointer;
}
.create-account:active {
  color: rgb(115, 166, 255) !important;
}
.Existing-User {
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.341);
  font-weight: 500;
}

.view-btn-width {
  width: 10vw;
}
.best-of-font {
  font-size: 1.3rem;
}
.productCarousel-img {
  width: 10vw;
  height: 25vh;
  cursor: pointer !important;
}
.adv-width {
  width: 15vw;
  height: 65vh;
}
/* 

-------------------------------------------------------

Media Queries for small screen

------------------------------------------------------- */

@media only screen and (max-width: 508px) {
  .navbar-brand {
    margin-left: 1rem;
  }
  .filpkart-icon {
    width: 12vw;
    height: 3vh;
  }
  .hover-anchor-underline {
    font-size: 1.3vw;
    margin-left: 1.3rem;
  }
  .width-Searchbar {
    width: 45%;
  }
  .search-Bar-shadow {
    margin: 0 !important;
    padding: 0.3rem !important;
    /* width: 0vw !important; */
  }
  .navbar-toggler {
    margin-left: 3rem;
    display: flex;
    flex-direction: column;
    border: 0;
  }
  .margin-nav {
    margin-left: 0 !important;
  }
  .margin-icons {
    margin-left: 40vw;
    margin-top: 0.7rem;
    font-size: 1rem !important;
  }
  .dropdown-content {
    right: 0 !important;

    box-shadow: #454d5e !important;
    box-shadow: #454d5e !important;
    position: absolute;
  }
  .below-navbar-img {
    height: 10vh !important;
  }
  .below-navbar-img img {
    height: 9vh;
    width: 7vw;
    margin-left: 0 !important;
    cursor: pointer;
    text-align: center;
  }
  .belowNavP-text {
    /* margin-left: 20px; */
    font-size: 0.5rem;
  }
  .footer-last-font {
    font-size: 10px;
  }
  .footer-img {
    display: none;
  }
  .footer-mail {
    border-left: none;
  }
  .after-search-Bar-anchor {
    background-color: #0c73eb;
  }
}
/* Login popup */
.Login-email-logo {
  margin-top: 25vh;
}
.test-fixed {
  left: 5%;
}
.font-product-btn {
  font-size: 0.9rem;
}
.cart-btn {
  background-color: #ff9f00;
  color: white;
}
.bolt-btn {
  background-color: #fb641b;
}
.custom-product-image {
  height: 60vh;
  width: 28vw;
}
.flip-assured-icon {
  height: 1.2rem;
}
.marginHR {
  margin-top: 32px !important;
}
